@page "/recebedores"

<PageTitle>Recebedores</PageTitle>

<h1>Recebedores</h1>
<p>Informe para quem você faz seus pagamentos, exemplo: Boleto Viacredi, Cartão de Crédito, Mãe, João da Empresa etc.</p>

<p>Em construção</p>

<hr />

<p>...</p>

@code {

}
