@page "/entradas/add"
@inject NavigationManager nav
@inject Services.IEntradaService _entradaService


<Form   ButtonText="Salvar"
        entrada="@entrada"
        loading="@loading"
        OnValidSubmit="@CriarEntrada"></Form>

@code {
    bool loading = false;

    Entrada entrada = new Entrada();

    protected override void OnInitialized()
    {
        DateTime agora = DateTime.UtcNow;
        DateTime dataUltimoDiaMes = new DateTime(
            year: agora.Year,
            month: agora.Month,
            day: DateTime.DaysInMonth(agora.Year, agora.Month)
        );
        entrada.DataVigencia = dataUltimoDiaMes;
    }

    async Task CriarEntrada()
    {
        loading = true;
        try
        {
            HttpResponseMessage response = await _entradaService.Create(entrada);
            if (response.IsSuccessStatusCode)
                nav.NavigateTo("/entradas");
        } catch (Exception e)
        {
            Console.WriteLine($"ERRO: {e}");
        }
    }
}
