@inject NavigationManager nav


<EditForm Model="@entrada">

    <div>
        <label>Nome :</label>
        <div>
            <InputText @bind-Value="entrada.Nome" class="form-control col-sm-3" />
        </div>
    </div>
    <div>
        <label>Valor :</label>
        <div>
            <InputNumber @bind-Value="entrada.Valor" class="form-control col-sm-3" />
        </div>
    </div>
    <div>
        <label>Recebo até :</label>
        <div>
            <CalendarioMesAno DataInicial="entrada.DataVigencia" />
        </div>
    </div>

    <div>&nbsp;</div>
    <div class="btn-group">
        <button class="btn btn-success" onclick="@Enviar">Salvar</button>
        <button class="btn btn-outline-primary" onclick="@Voltar">Voltar</button>
    </div>
</EditForm>

@code {
    Entrada entrada = new Entrada();

    protected override void OnInitialized()
    {
        InicializarCampos();
    }

    private void InicializarCampos()
    {
        DateTime agora = DateTime.UtcNow;
        DateTime dataUltimoDiaMes = new DateTime(
            year: agora.Year,
            month: agora.Month,
            day: DateTime.DaysInMonth(agora.Year, agora.Month)
        );
        entrada.DataVigencia = dataUltimoDiaMes;
    }

    private void Enviar()
    {
        Console.WriteLine("xx");
    }

    private void Voltar()
    {
        nav.NavigateTo("/entradas");
    }
}