@page "/entradas"
@inject NavigationManager nav

<PageTitle>Entradas</PageTitle>

<h1>Entradas</h1>
<p>Infome seus valores recebidos mensalmente como por exemplo <b>salários</b> ou <b>alugueis</b></p>

<button class="btn btn-primary" @onclick="@AddEntrada">Adicionar Entrada</button>

<hr />

<p>Minhas Entradas:</p>
...em construção



@code {
    List<Entrada> entradas = new List<Entrada>();

    protected override void OnInitialized()
    {
        ConsultarEntradasAPI();
    }

    private async void ConsultarEntradasAPI()
    {
        string baseURL = "https://localhost:5001/";
        using (var api = new HttpClient())
        {
            api.BaseAddress = new System.Uri(baseURL);
            api.DefaultRequestHeaders.Accept.Clear();
            api.DefaultRequestHeaders.Accept.Add(
                new MediaTypeWithQualityHeaderValue("text/plain"));

            try
            {
                HttpResponseMessage response = await api.GetAsync("api/Entradas");
                string responseText = response.Content.ReadAsStringAsync().Result;
                var conversao = JsonConvert.DeserializeObject<List<Entrada>>(responseText);
                if (conversao != null)
                    entradas = conversao;
            } catch (Exception e)
            {
                Console.WriteLine($"ERROR api: {e}");
            }
        }
    }

    private void AddEntrada()
    {
        nav.NavigateTo("/entradas/add");
    }
}
