@page "/entradas"
@inject NavigationManager nav
@inject Services.IEntradaService _entradaService

<PageTitle>Entradas</PageTitle>

<h1>Entradas</h1>
<p>Infome seus valores recebidos mensalmente como por exemplo <b>salários</b> ou <b>alugueis</b></p>

<button class="btn btn-primary" @onclick="@AddEntrada">Adicionar Entrada</button>

<hr />

<p>Minhas Entradas:</p>

@if (entradas.Count == 0)
{
    <p>Carregando...</p>
} else
{
    <p>OK!</p>
}


@code {
    List<Entrada> entradas = new List<Entrada>();

    protected override async Task OnParametersSetAsync()
    {
        entradas = await _entradaService.GetAll();
    }

    private void AddEntrada()
    {
        nav.NavigateTo("/entradas/add");
    }
}
