@using ContasFrontEnd.Services.Interface
@typeparam TService

@code {
    [Parameter]
    public TService Service { get; set; }
}

<div>
    @if (Service is IEntradaService entradaService)
    {
        entradaService.GetAll();
    }
    else if (Service is IPagamentosService pagamentoService)
    {
        pagamentoService.GetAll();
    }
    else
    {
        <p>Serviço desconhecido</p>
    }
</div>
