@page "/teste"
@using ContasFrontEnd.Services.Interface
@using ContasFrontEnd.Pages.GenericCrud

@inject IEntradaService EntradaService

<AddGeneric 
    TService="IEntradaService" Service="EntradaService"
    TModel="Entrada" Model="@entrada"
    textTopo="nova Entrada"
    textDescricao="Cadastre o dinheiro que você recebe mensalmente como Salário, Alugueis, Venda de produto...">

    <div>
        <label>Nome :</label>
        <div>
            <InputText @bind-Value="@entrada.Nome" class="form-control"
                       placeholder="Conta de Luz, Internet, Moto João" />
            <ValidationMessage For="@(() => entrada.Nome)"></ValidationMessage>
        </div>
    </div>

    <div>&nbsp;</div>
</AddGeneric>

@code{
    Entrada entrada = new Entrada();
}